<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlinleran">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnAndroid2022">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--设置singleTask 不会进入启动app的任务栈呢-->
       <!--taskAffinity 设置任务栈，相同的进入-->
        <activity
            android:name=".SecondActivity"
            android:launchMode="singleTask"
            android:taskAffinity="com.test.task">
            <intent-filter>
                <action android:name="test.task" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--设置allowTaskReparenting 启动时进入启动应用A任务栈，从桌面启动B时，发现又退回自己的任务栈-->
        <!--        <activity-->
        <!--            android:name=".SecondActivity"-->
        <!--            android:allowTaskReparenting="true">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="test.task" />-->
        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--            </intent-filter>-->
        <!--        </activity>-->
    </application>

</manifest>